.contact-container {
  text-align: center;
  max-width: 400px;
  margin-left: 470px;
  margin-top: 50px;
  padding: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-card {
  margin-top: 40px;
  
}

.icon {
  font-size: 39px;
  color: #0f0e0e;
}

.social-icons {
  margin: 100px 0px;
  margin-right: 50px ;
}

.social-icons a {
  margin: 0 10px;
  font-size: 28px;
  color: #007bff;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #e76f51;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #0056b3;
}
