/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 20px 30px;
    position: fixed;  
    top: 0%;          
    left: 0;          
    width: 100%;      
    z-index: 1000;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    color: black;
    padding-right: 30px;
    text-transform: uppercase;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: grey;
  }
  
.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.welcome-text {
  font-weight: bold;
  color: #333;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.logout-btn:hover {
  background: darkred;
}