/* Register.css */
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  background: linear-gradient( 90.5deg,  rgba(112,181,176,1) 1.9%, rgba(220,244,241,1) 87.7% );
  backdrop-filter: blur(5px);
}

.register-box {
  background: radial-gradient( circle 404px at 20.3% 15.9%,  rgba(0,79,255,1) 0%, rgba(0,240,255,1) 90% );
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 0 20px rgba(83, 54, 163, 0.2);
}

.register-title {
  font-size: 2rem;
  font-family: cursive;
  color: #3a3849;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #00ffff;
}

.error-message {
  background: #ffdddd;
  border: 1px solid #ff5c5c;
  padding: 10px 15px;
  color: #b00020;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 0.9rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-input {
  width: 100%;
  font-family: cursive;
  padding: 12px 15px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  color: #fff;
}

.register-input::placeholder {
  color: #ccc;
}

.register-password-container {
  position: relative;
  display: flex;
  align-items: center;
}
.password-container-input::placeholder {
  color: #ccc;
}
.register-password-container input {
  width: 100%;
  font-family: cursive;
  padding: 12px 15px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 8px;
  color: #fff;
}

.toggle-register-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #1c1c1d;
  font-size: 1.2rem;
}

.toggle-register-password:hover {
   color: #252425;
}

.register-btn {
  width: 100%;
  font-family: cursive;
  background: linear-gradient(135deg, #3357cc, #725ece);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.register-btn:hover {
   transform: scale(1.05);
  box-shadow: 0 0 15px #00ffff;
}

.login-link {
 margin-top: 20px;
  color:  #635f5f;;
  font-family: cursive;
}

.login-link a {
  color: #473caa;
  text-decoration: none;
}

.login-link a:hover {
   text-decoration: underline;
  color: #590fd1;
}
